.navbar {
    display: flex;
    background-color: brown;
    border-radius: 12px;
    padding: 18px;
}

 .navbar, h1 {
    margin: auto;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

 img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#background {
    border-radius: 0;
    margin: 0;
    background-image: url(./images/Gallery\ of\ Regeneration\ of\ Taoyuan\ International\ Airport\ Terminal\ 1\ _\ Norihiko\ Dan\ and\ Associates\ \ -\ 3.jpeg);
    background-size: cover; 
    background-position: center;
    height: 400px;
    width: 100%;
}

.form-group {
    background-color: antiquewhite;
    background-position: 50% ;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}


